.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body
{
  background-image: linear-gradient(to left,#0056d6,#0091e3,#00bac8,#9dd9be, #f1f6e5);
  background-image: radial-gradient(to left,#0056d6,#0091e3,#00bac8,#9dd9be, #f1f6e5);
}

p{
  color:black;
}


h5{
  color: red;
  font:100
}

h3{
  color:black
}

.outerdiv{
  
  margin: 20px 350px 0px 400px;
  background: white;
  padding: 10px;
  height:  450px;
}

.button-class{
  background: #5dbd3f;
  color: #fff;

  &:hover {
    color: #5dbd3f;
    background: white;
   
  }
}


